body{
  font-family: Arial;
  color: #333;
  background: #f6f6f6;
}

.female{
  text-align: right;
}

.container{
  margin-top: 10%;
}

#console{
  padding: 40px 0px;
  text-align: center;
  color: #aaa;
  text-shadow: 1px 2px #fff;
  display: none;
}