body{
  font-family: Arial;
  color: #333;
  background: #f6f6f6;
}

table{
  width: 170px;
  margin: 200px auto;
}

table tr td img{
  cursor: pointer;
}

table tr td{
  text-align: center;
}

#console{
  padding: 40px 0px;
  font-size: 0.8em;
  text-align: center;
  color: #999;
  text-shadow: 1px 2px #fff;
}